body {
    font-family: 'Cormorant', serif;
}

ul, h1, nav, li {
    display: inline-block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.links a {
    font-size: 20px;
    margin: 0 8px;
}