*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
body {
    font-family: 'Open Sans', sans-serif;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

.header__menu {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    margin-top: 0;
    margin-left: 0;
    justify-content: center;
}

.header {
    display: flex;
    /*justify-content: space-between;*/
    width: 90%;
    margin: 0 auto;
    align-items: center;
    padding: 1rem 0;
}

.header__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    flex: 1;
}

.header__link {
    text-decoration: none;
    color: #000;
}

.header__buttons {
    display: flex;
    gap: 1rem;
    flex: 1;
    justify-content: end;

}

nav {
    flex: 1;
}

.header__bars {
    display: none;
}

/*Hero Section*/
.hero {
    text-align: center;
    margin-top: 10rem;

}

.hero__title {
    line-height: 1;
    letter-spacing: -0.05em;
    margin-bottom: 25px;
    font-size: 4rem;
    max-width: 25ch;
    margin-inline: auto;
}

.hero__description {
    margin-bottom: 25px;
    font: 1.2rem;
    max-width: 60ch;
    margin: 2rem auto;
}


/*Utility Class*/
.button {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 4px;
    font-weight: 300;
}

.container {
    width: 90%;
    margin-inline: auto;
}

/*Pricing Section*/
.pricing {
    margin-top: 10rem;
}
.pricing__title {
    font-size: 2.35rem;
    letter-spacing: -0.05em;
    line-height: 1;
}

.pricing__description {
    font-size: 1.2rem;
    max-width: 45ch;
    margin: 1rem 0;
}

.pricing__container {
    display: flex;
    gap: 2rem;
}

.pricing__box {
    background-color: black;
    color: white;
    padding: 2rem;
    border-radius: 20px;
    flex: 1;
}

.pricing__price {
    font-size: 2rem;
}

.pricing__plan {
    margin: 1rem 0 0.25rem;
}

.pricing__plan-description {
    color: #ccc;
}

.pricing__button {
    background-color: white;
    color: black;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    font-weight: 700;
    border-radius: 100000000px;
}

.pricing__features {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
    color: #ccc;
}

/*Features*/

.feature {
    margin-top: 10rem;
    text-align: center;
}

.feature__title {
    font-size: 2.25rem;
    letter-spacing: -0.05em;
    line-height: 1;
}

.feature__description {
    font-size: 1.2rem;
    max-width: 45ch;
    margin: 1rem auto;
}

.feature__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.feature__description-pill {
    border: 1px solid #ccc;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    width: 400px;
}

.feature__description-title {
    line-height: 1;
}

.feature__description-p {
    margin-top: 1rem;
}

/*Contact Section*/

.contact {
    margin-top: 10rem;
    text-align: center;
}

.contact__title {
    font-size: 2.25rem;
    letter-spacing: -0.05em;
    line-height: 1;
}

.contact__description {
    max-width: 60ch;
    margin: 1rem auto;
    font-size: 1.2rem;
}

/*Footer Section*/

.footer {
    margin-top: 10rem;
    text-align: center;
}

.footer__title {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

/*Mediaqueries*/

@media (max-width: 891px) {
    /*header section*/
    .header__title {
        font-size: 1.2rem;
    }

    .header__link {
        font-size: .8rem;
    }

    .header__button {
        font-size: .8rem;
    }
    /*hero section*/
    .hero__title {
        font-size: 3rem;
    }
}

@media (max-width: 713px) {
    .header {
        justify-content: space-between;
    }

    .header__menu {
        display: none;
    }

    .header__buttons {
        display: none;
    }

    .header__bars {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
    }

    .header__title {
        flex: 0 1 auto;
    }
}
